<!--
  Generated template for the ArticleListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <ion-title>{{pageTitle}}</ion-title>

        <ion-buttons end>
          <button ion-button icon-only  (click)="goSearch()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
       <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="下拉刷新"
          refreshingSpinner="circles"
          refreshingText="刷新...">
        </ion-refresher-content>
  </ion-refresher>

  <div id="first-slider">
      <!-- start 轮播图-->  
        <ion-slides *ngIf="ads" autoplay=3000 pager=true effect="coverflow" loop=true>  

          <!-- <ion-slide>  
            <div class="box banner"><img src="http://www.shstone.org/file/upload/201704/19/10-02-32-52-1.jpg" /> </div>  
          </ion-slide>  
          <ion-slide>  
            <div class="box banner"><img src="http://www.shstone.org/file/upload/201605/10/15-46-37-77-1.jpg" /></div>  
          </ion-slide>  
          <ion-slide on-slide-changed="slideHasChanged(index)">  
            <div class="box banner"><img src="http://www.shstone.org/file/upload/201704/19/10-02-32-52-1.jpg" /></div>  
          </ion-slide>  -->

          <ion-slide *ngFor="let ad of ads" >  
              <div class="box banner"><img [src]="ad.thumb" /></div>  
          </ion-slide>

        </ion-slides>  
        <!-- end 轮播图-->  
    </div>

    <ion-list class="news-list">
        <ion-item *ngFor="let item of items" (click)="openItem(item)"  text-wrap >   
            <ion-thumbnail item-end><img [src]="item.thumb" /></ion-thumbnail>
            
            <h2>{{item.title}}</h2>
            
            <div class="item-tag">
                <span class="item-time">{{item.updated_at|date:"MM-dd"}}</span>
                <span class="item-hit">&nbsp;&nbsp; | &nbsp;&nbsp;{{item.hit||29967}}阅读</span>
            </div>

        </ion-item>
    </ion-list>  

    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>
